<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application

        android:name=".n_AppGround"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoTutoria20"
        tools:targetApi="31">

        <!-- For the Notification -->
        <receiver
            android:name=".n_BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".a_user_1_login_handler"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
<!--            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>-->

        <!-- LOGIN & SIGNUP -->
        <activity android:name=".a_user_1_login" android:exported="true"/>
        <activity android:name=".a_user_2_signup" android:exported="true"/>

        <!-- FAQ -->
        <activity android:name=".a_user_4_FAQ" android:exported="true"/>
        <activity android:name=".a_user_5_terms_and_conditions" android:exported="true"/>


        <!-- MAIN MENU -->
        <activity android:name=".b_main_0_menu" android:exported="true"/>
        <activity android:name=".b_main_0_menu_categorize_user" android:exported="true"/>
        <activity android:name=".b_main_0_menu_logout" android:exported="true"/>
        <activity android:name=".b_main_0_menu_rateUs" android:exported="true"/>
        <activity android:name=".b_main_0_menu_profile" android:exported="true"/>
        <activity android:name=".b_main_0_menu_settings" android:exported="true"/>
        <activity android:name=".b_main_0_menu_tutorial" android:exported="true"/>
        <activity android:name=".b_main_0_menu_isStudent" android:exported="true"/>
        <activity android:name=".b_main_1_lesson_progressive" android:exported="true"/>
        <activity android:name=".b_main_2_lesson_freeuse" android:exported="true"/>

        <!-- Gagana ba to?? -->
        <activity android:name=".b_main_3_description" android:exported="true"/>
        <activity android:name=".b_main_4_uplifts" android:exported="true"/>

        <!-- Subs (Modules or Lessons?? HAHAHA) -->
        <activity android:name=".c_Lesson_freeuse_1" android:exported="true"/>
        <activity android:name=".c_Lesson_freeuse_2" android:exported="true"/>
        <activity android:name=".c_Lesson_freeuse_3" android:exported="true"/>
        <activity android:name=".c_Lesson_freeuse_4" android:exported="true"/>
        <activity android:name=".c_Lesson_freeuse_5" android:exported="true"/>
        <activity android:name=".c_Lesson_freeuse_6" android:exported="true"/>
        <activity android:name=".c_Lesson_freeuse_7" android:exported="true"/>
        <activity android:name=".c_Lesson_freeuse_8" android:exported="true"/>

        <activity android:name=".c_Lesson_progressive_1" android:exported="true"/>
        <activity android:name=".c_Lesson_progressive_2" android:exported="true"/>
        <activity android:name=".c_Lesson_progressive_3" android:exported="true"/>
        <activity android:name=".c_Lesson_progressive_4" android:exported="true"/>
        <activity android:name=".c_Lesson_progressive_5" android:exported="true"/>
        <activity android:name=".c_Lesson_progressive_6" android:exported="true"/>
        <activity android:name=".c_Lesson_progressive_7" android:exported="true"/>
        <activity android:name=".c_Lesson_progressive_8" android:exported="true"/>

        <!-- I dont know these shits -->
        <activity android:name=".CustomLoadingDialog" android:exported="true"/>
        <activity android:name=".CustomPagerAdapter" android:exported="true"/>

        <!-- Container for all iterations -->
        <activity android:name=".d_Lesson_container" android:exported="true"/>

        <!-- Di ko alam, pero most likely di na gagamitin tong mga to -->
<!--        <activity android:name=".Lesson_2" android:exported="true"/>-->
<!--        <activity android:name=".Lesson_3" android:exported="true"/>-->
<!--        <activity android:name=".Lesson_4" android:exported="true"/>-->

        <!-- Lesson Iteration -->
<!--        <activity android:name=".PostTestActivity" android:exported="true"/>-->
<!--        <activity android:name=".PreTestActivity" android:exported="true"/>-->
<!--        <activity android:name=".TextActivity" android:exported="true"/>-->
<!--        <activity android:name=".VideoActivity" android:exported="true"/>-->


        <!-- Add more activities here as needed -->

    </application>
</manifest>
